{% extends 'base.html' %}

{% block content %}

    <h2>Create an event</h2>
    <form method="post" action="">{% csrf_token %}
            {{ form.as_p}}
            <!-- <input type="text" class="form-control datepicker" value=""> -->
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" integrity="sha256-mlKJFBS1jbZwwDrZD1ApO7YFS6MA1XDN37jZ9GDFC64=" crossorigin="anonymous" />
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo=" crossorigin="anonymous"></script>
<script>
        $('#id_date').datepicker({
            format: 'mm/dd/yyyy',
        });  
</script>
{% endblock %}
