{% extends 'base.html' %}
{% load invite_extras %}

{% block content %}

    <h4>
        {{ event.name }}
        
    </h4>

    <p class="text-muted">{{ event.date }}</p>

    <p>Responses:</p>
    
    <div class="progress mt-2">
        {% for answer, response in responses.items %}
            {% if response.count > 0 %}
                <div class="progress-bar {{ answer|bg_class }}" style="width: {{ response.percentage }}%" role="progressbar">
                    {{ answer }} {{ response.count }}/{{ total_responses }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <ul>
    {% for answer, response in responses.items %}
        <li>
            {{ answer }}:
            {% if response.count > 0 %}
                <ul>
                {% for name in response.names %}
                    <li>{{ name }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <small class="text-muted">(none)</small>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}

