{% extends 'base.html' %}

{% block content %}

    <p><a href="{{ playgroup.get_absolute_url }}">Back to {{ playgroup }}</a></p>

    <h4>
        New Event
        <small class="text-muted">for {{ playgroup }}</small>
    </h4>
    <form method="post" action="">{% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% with field=form.name %}
        <div class="form-group">
            <label for="id_name">Event name:</label>
            <input type="text" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" 
                data-cip-id="id_name" aria-describedby="nameHelp" placeholder="Enter a name for your event">
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endwith %}
        {% with field=form.date %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="invalid-feedback">
                    {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">Date:</label>
            <div class="input-group date" data-provide="datepicker">
                <input id="{{ field.id_for_label }}" name="{{ field.name }}" type="text" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Select</button>
                </div>
            </div>
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endwith %}
        
        
        <button type="submit" class="btn btn-block btn-primary">Save</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" integrity="sha256-mlKJFBS1jbZwwDrZD1ApO7YFS6MA1XDN37jZ9GDFC64=" crossorigin="anonymous" />
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo=" crossorigin="anonymous"></script>
<script>
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
        });
</script>
{% endblock %}
