{% extends 'bootstrap.html' %}
{% load core.tags %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a class="navbar-brand" href="{% url 'landing' %}">MTGRollCall</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        {% nav_element 'landing' 'Home' %}
        {% if request.user.is_authenticated %}
            {% nav_element 'playgroup:dashboard' 'Playgroups' %}
            {% nav_element 'logout' 'Logout' %}
        {% else %}
            {% nav_element 'login' 'Login' %}
        {% endif %}
    </ul>
</div>
</nav>
    <div class="container mt-2">
        {% block content %}
        <h1>Whoops!</h1>
        <p>Something went wrong, and we weren't able to load the content for the page you requested.</p>
        {% endblock %}
    </div>
{% endblock %}