{% extends 'bootstrap.html' %}

{% block body %}
    <div class="container">
    <div class="row justify-content-center mt-4">
        <h3>{{ invitation.event.playgroup }}</h3>
    </div>
    

    <div class="m-4">
        {{ invitation.member }}, you've been invited to {{ invitation.event.name }} on {{ invitation.event.date }}. To RSVP, please click one of the buttons below:
    </div>

    <div class="row">
        <div class="col-sm">
            <p><a href="{{ yes_url }}" class="btn btn-block btn-success">Going</a></p>
        </div>
        <div class="col-sm">
            <p><a href="{{ no_url }}" class="btn btn-block  btn-danger">Not Going</a></p>
        </div>
    </div>
</div>
{% endblock %}